.main{
    background: lightblue;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}
button{
    padding: 5px;
    width: 60px;
    height: 35px;
}
#output{
    padding: 20px;
    font-size: 50px;
}